<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Secure TOTP</h1>
  <ul>
      <li><span>{{ g.user['username'] }}</span>
  </ul>
</nav>
<section class="content">
  <header>
    <h1>TOTP</h1>
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form method="post">
    <label for="TOTP Code">Code</label>
    <input type="number" name="code" id="code" required>
    <input type="submit" value="Submit">
  </form>
</section>
